@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;700;900&display=swap");
/* font-family: 'Gothic A1', sans-serif; */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: transparent;
}
body {
  /* font-family: "Gothic A1", sans-serif; */
  font-family: "Pretendard-Regular";
  color: #404040;
}
#wrapper {
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  --swiper-theme-color: #5a2149 !important;
}
/* header area */
header {
  width: 100%;
  height: 180px;
  /* overflow: hidden; */
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35rem;
  padding: 20px 100px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.25);
  /* min-width: 1360px; */
}
/* 로그인 영역 */
.fullsc_log{
  display: flex;
  gap: 2rem;
}
.fullsc_log ul{
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.18rem;
  font-weight: 700;
  position: relative;
  word-break: keep-all;
}
.fullsc_log > ul > li:last-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.1rem;
  right: -1.5rem;
  width: 2px;
  height: 1rem;
  background-color: #8b8b8b;
}
.fullsc_log a:hover{
  color: #5a2149;
}
.tablet_log{
  display: none;
}
/* selectbox style */
.cont-select {
  position: relative;
  /* width: 160px; */
  display: flex;
  align-items: center;
}
.cont-select span{
  padding-top: 1px;
}
.btn-select {
  width: 100%;
  padding: 13px 15px 13px 14px;
  font-size: 1.3rem;
  /* line-height: 14px; */
  background-color: #fff;
  color: #404040;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  background: url("images/icon-Triangle-down.png") center right 14px no-repeat;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cont-select .list-member{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  z-index: 5;
  display: none;
}
.list-member.open{
  display: block;
}
.list-member li {
  height: 40px;
  padding: 5px 8px;
  box-sizing: border-box;
  width: 100%;  
}

.list-member li button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  color: #5f6062;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-member li button:hover,
.list-member li button:focus {
  background-color: #5a2149;
  color: #fff;
}
/* tablet */
.tablet_menu{
  display: none;
}
/* mobile */
.mobile_menu{
  display: none;
}
.topmenu {
  position: relative;
  font-weight: 500;
  color: #404040;+
}
/* main menu */
.menu {
  display: flex;
  width: 1260px;
  margin: 0 auto;
  justify-content: center;
  gap: 11rem;
  align-items: center;
  position: relative;
  height: 80px;
  margin-top: 40px;
  padding: 0 80px;
  border-radius: 5px;
  border: 1px solid var(--d-8-d-8-d-8, #d8d8d8);
  word-break: keep-all;
}

.depth_1 > a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #404040;
}
.depth_1::after {
  content: "";
  display: block;
  position: absolute;
  top: 4.9rem;
  left: 0;
  width: 100%;
  height: 340px;
  background: rgba(95, 96, 98, 0.95);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease, visibility 0.3s ease;
}

.depth_2 {
  position: absolute;
  margin-top: 30px;
  padding-right: 20px;
  word-break: keep-all;
  line-height: 3rem;
  height: 22rem;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease, visibility 0.3s ease;
}

.depth_2 a {
  color: #fff;
}

.depth_2 a:hover {
  color: #bb95af;
}

.menu:hover .depth_2,
.menu:hover .depth_1::after {
  opacity: 1;
  visibility: visible;
}
.menu .depth_1:hover > a{
  border-bottom: 3px solid #5a2149;
}
/* main area */
.main_inner {
  background-color: #5a2149;
  border-radius: 5px;
  width: 980px;
  margin: 45px auto;
  margin-top: 80px;
}
.from_to {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  padding: 40px 100px;
}
.from_to span:first-child {
  position: relative;
  top: 0;
  left: 135px;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.from_to span:nth-child(2) {
  position: relative;
  top: 0;
  right: 138px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.from_to span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 57px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.from_to span.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.ticketing_box {
  position: relative;
}
.ticketing_box ul {
  display: flex;
  justify-content: center;
}
.ticketing_box ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.ticketing_box ul li > span {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 1.5rem;
  color: #5f6062;
}
.station {
  width: 450px;
  height: 200px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
}
.station:nth-child(2) {
  margin-left: 1px;
}
.station_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: -69%;
  left: 0;
  width: 450px;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 9px;
}
.station_box .list {
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  width: 100%;
}
.station_box .list:focus {
  width: 430px;
  background-color: #404040;
  color: #fff;
  text-align: center;
}
/* js */
.station_box {
  opacity: 0;
  position: absolute;
}
/* js end */
.ticketing_info .date_time {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.2rem;
}
.month {
  border-radius: 5px 0 0 5px;
  margin-right: 1px;
  z-index: 9999;
  padding: 0 20px;
}
/* 추가된 CSS 스타일 */
.date_time input[type="date"] {
  transform-origin: top; /* 기준점을 위로 설정 */
}
.dropbox {
  border-radius: 0 5px 5px 0;
  width: 450px;
  height: 80px;
  border: 0;
}
.dropbox .time {
  border-radius: 0 5px 5px 0;
  width: 450px;
  height: 80px;
  border: 0;
  text-align: center;
}
.dropbox label {
  display: none;
}

.ticketing_info input {
  width: 450px;
  height: 80px;
  border: 0;
  /* border-radius: 5px; */
  text-align: center;
}
/* passenger */
.ticketing_info .passenger {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.number-input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  height: 80px;
  border-radius: 5px;
  background-color: #fff;
}
.number-input input {
  height: 30px;
  font-size: 0.9rem;
  width: 3em;
  padding-left: 1.1rem;
  text-align: left;
}
.number-input label {
  padding: 0 30px;
  font-weight: 500;
  font-size: 1.1rem;
  
}
.number-input button {
  background-color: #ededed;
  border: none;
  color: #404040;
  font-size: 1rem;
  width: 2rem;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.number-input button:nth-of-type(odd) {
  border-radius: 5px 0 0 5px;
}
.number-input button:nth-of-type(even) {
  border-radius: 0 5px 5px 0;
}
form p {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.load_timeTable {
  width: 360px;
  height: 50px;
  flex-shrink: 0;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #5a2149;
  cursor: pointer;
}
/* quick menu */
.quick_menu {
  width: 980px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.quick_menu_list {
  display: flex;
  justify-content: center;
  gap: 110px;
  padding: 40px 0 45px 0;
}
.quick_menu_list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .quick_menu_list li:hover img{
  /* 흑백으로 변환 후 색상 반전 
  filter: grayscale(100%) invert(red); 
} */
.quick_menu_list span {
  padding-top: 20px;
}
/* notice area */
section .section_top,
.section_bt {
  width: 980px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 45px;
  padding: 20px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
/* section top */
/* section left */
/* swiper */
.section_left {
  width: 50%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section right */
.section_right {
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section_right h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 48px;
}
.section_right h3 b {
  color: #5a2149;
}
.section_right::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 2.83px;
  background-color: #5f6062;
}
.section_right ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.section_right ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_right ul li a {
  /* 줄바꿈 방지 */
  white-space: nowrap;
  /* 말줄임 표시 (...) 추가 */
  text-overflow: ellipsis;
  /* 넘치는 거 방지 */
  overflow: hidden;
  /* 상대너비 설정 */
  max-width: 250px;
}
.section_right ul li a:hover{
  text-decoration: underline;
  text-decoration-color: #404040;
}
.noti_date{
  font-size: 0.8rem;
}
.need_more {
  text-align: center;
  padding-top: 48px;
  color: #5f6062;
}
.need_more a:hover {
  text-decoration: underline;
  text-decoration-color: #5f6062;
}
.mobile-notice{
  display: none;
}
/* section bt */
.banner {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.banner a {
  width: 47%;
}
.banner a img {
  width: 100%;
}
/* best travel pkg */
.best_travel {
  width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  margin-top: 45px;
  padding: 20px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.best_travel h3 {
  font-size: 1.87rem;
  font-weight: 700;
  color: #5a2149;
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
}
/* swiper */
.best_travel_imgslide {
  width: 100%;
  padding: 10px;
}
.best_travel_imgslide .swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 1.45rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.best_travel_imgslide .swiper-slide:not(.plus_travel)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-slide a img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide a p {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1;
  width: 150px;
  word-break: keep-all;
  text-align: left;
  line-height: 1.32;
}
.swiper-slide a span {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}
.swiper-slide.plus_travel p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2;
  text-align: center;
  color: #000;
  font-weight: 700;
}
.swiper-slide.plus_travel p span {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 29px;
  bottom: -57%;
  left: 40%;
  text-align: center;
  background-color: #5a2149;
  border-radius: 50%;
}
.swiper-slide.plus_travel:hover{
  background-color: rgba(179, 146, 184, 0.15);
}
/* swiper btn */
.swiper-button-prev:after {
  color: #ffffff;
  font-size: 1.48rem !important;
  font-weight: 700;
}
.swiper-button-next:after {
  color: #ffffff;
  font-size: 1.48rem !important;
  font-weight: 700;
}
/* swiper */
/* footer */
footer {
  margin-top: 45px;
  /* min-width: 1360px; */
}
/* footer top */
.ft_top {
  width: 100%;
  background-color: #5f6062;
  padding: 30px 100px;
}
.ft_link {
  display: flex;
  gap: 10px;
  position: relative;
}
.ft_link li a {
  color: #fff;
  font-weight: 400;
  font-size: 0.97rem;
  word-break: keep-all;
  white-space: nowrap;
}
.ft_link li:not(:last-child):after {
  content: "|";
  color: #ffffff;
  margin-left: 10px;
}
.ft_top_down {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
  font-size: 0.89rem;
  color: #cacaca;
}
.ft_top_down img {
  width: 6rem;
  height: 2.5rem;
}
.addr {
  width: 950px;
  word-break: keep-all;
  line-height: 1.23rem;
  /* white-space: nowrap; */
}
.Copyright {
  display: block;
}
/* footer bottom */
.ft_bottom {
  background-color: #404040;
  padding: 30px;
}
.ft_bottom_ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
