@charset "utf-8";
@media all and (max-width: 1540px) {
  html {
    font-size: 14px;
  }
  #wrapper {
    width: 100%;
  }
  /* header */
  header {
    width: 100%;
  }
  .header_inner {
    /* min-width: 1100px; */
    padding: 20px 0;
  }
  #top_menu {
    /* min-width: 1100px; */
    padding: 0;
  }
  .menu {
    justify-content: center;
    padding: 0;
    gap: 100px;
    width: 980px;
    margin: 40px auto;
  }
  .depth_1::after {
    height: 330px;
  }
  /* main */
  .main_inner {
    width: 860px;
    margin: 50px auto;
  }
  .from_to span:first-child {
    top: 0;
    left: 102px;
  }
  .from_to span:nth-child(2) {
    right: 107px;
  }
  .station {
    width: 400px;
  }
  .station_box {
    width: 400px;
  }
  .station_box .list:focus {
    width: 400px;
  }
  .date_time .month {
    padding: 20px;
    width: 400px;
  }
  .dropbox {
    width: 400px;
  }
  .dropbox .time {
    width: 400px;
  }
  .number-input {
    width: 800px;
  }
  .number-input input {
    text-align: left;
  }
  /* quick menu */
  .quick_menu {
    width: 860px;
  }
  .quick_menu_list {
    gap: 80px;
  }
  /* notice */
  section .section_top,
  .section_bt {
    width: 860px;
  }
  /* best travel pkg */
  .best_travel {
    width: 860px;
  }
  /* footer */
  footer {
    /* min-width: 1100px; */
  }
}
@media all and (max-width: 1110px) {
  /* header */
  .header_inner {
    /* min-width: 800px; */
    padding: 20px 0;
    gap: 26rem;
  }
  /* full W login */
  .fullsc_log {
    display: none;
  }
  /* tablet W login */
  .tablet_menu {
    display: block;
    display: flex;
    gap: 4.7rem;
    font-size: 1.3rem;
    align-items: center;
    position: relative;
  }
  .cont-select span i {
    font-size: 1rem;
    /* vertical-align: middle; */
    padding-bottom: 1px;
  }
  .tablet_log {
    display: block;
    display: flex;
    gap: 5rem;
  }
  .tablet_log .log_in {
    position: absolute;
    display: block;
    top: -12px;
    left: -20px;
    font-size: 1rem;
    width: 55px;
    height: 20px;
    border-radius: 15px;
    background-color: #5a2149;
    color: #fff;
    text-align: center;
    line-height: 20px;
    /* transition: all 3s ease-in-out; */
    animation: pop 1s infinite;
  }
  @keyframes pop {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(1px);
    }
  }
  .fa-globe::after {
    content: "사이트맵";
    display: block;
    position: absolute;
    top: -12px;
    left: 62px;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    background-color: #404040;
    border-radius: 15px;
    color: #fff;
    font-size: 0.9rem;
    opacity: 0;
    transition: all 0.3s;
  }
  li:hover .fa-globe::after {
    opacity: 1;
  }
  /* menu */
  .menu {
    width: 850px;
  }
  /* main */

  .main_inner {
    width: 800px;
    margin: 50px auto;
  }
  .from_to span:first-child {
    top: 0;
    left: 83px;
  }
  .from_to span:nth-child(2) {
    right: 87px;
  }
  .station {
    width: 380px;
  }
  .station_box {
    width: 380px;
  }
  .station_box .list:focus {
    width: 380px;
  }
  .date_time .month {
    padding: 20px;
    width: 380px;
  }
  .dropbox {
    width: 380px;
  }
  .dropbox .time {
    width: 380px;
  }
  .number-input {
    width: 760px;
  }
  .number-input input {
    text-align: left;
  }
  .load_timeTable {
    width: 300px;
  }
  /* quick menu */
  .quick_menu {
    width: 800px;
  }
  .quick_menu_list {
    gap: 80px;
  }
  /* notice */
  section .section_top,
  .section_bt {
    width: 800px;
  }
  /* best travel pkg */
  .best_travel {
    width: 800px;
  }
  .best_travel_imgslide .swiper {
    height: 370px;
  }
  /* footer */
  footer {
    /* min-width: 800px; */
  }
}
@media all and (max-width: 850px) {
  /* header */
  .header_inner {
    /* min-width: 800px; */
    padding: 20px 0;
    gap: 10rem;
  }
  /* menu */
  .menu {
    width: 800px;
    gap: 6rem;
  }
  /* main */

  .main_inner {
    width: 740px;
  }
  .from_to span:first-child {
    top: 0;
    left: 74px;
  }
  .from_to span:nth-child(2) {
    right: 77px;
  }
  .station {
    width: 340px;
  }
  .station_box {
    width: 340px;
  }
  .station_box .list:focus {
    width: 340px;
  }
  .date_time .month {
    padding: 20px;
    width: 340px;
  }
  .dropbox {
    width: 340px;
  }
  .dropbox .time {
    width: 340px;
  }
  .number-input {
    width: 680px;
  }
  .number-input input {
    text-align: left;
  }
  .load_timeTable {
    width: 300px;
  }
  /* quick menu */
  .quick_menu {
    width: 740px;
  }
  .quick_menu_list {
    gap: 60px;
  }
  /* notice */
  section .section_top,
  .section_bt {
    width: 740px;
  }
  .section_left {
    width: 58%;
  }
  .noti_date {
    display: none;
  }
  /* best travel pkg */
  .best_travel {
    width: 740px;
    gap: 30px;
  }
  .best_travel_imgslide .swiper {
    height: 330px;
  }
  /* footer */
  .ft_bottom {
    display: none;
  }
}
@media all and (max-width: 810px) {
  header {
    height: inherit;
  }
  .header_inner {
    width: 100%;
    justify-content: center;
    gap: 12rem;
  }
  .logo {
    padding-left: 36%;
  }
  .tablet_menu {
    display: none;
  }
  .topmenu .mobile_menu {
    display: block;
    font-size: 1.8rem;
  }
  .mobile_menu a:first-child {
    padding-right: 3.5rem;
  }
  #top_menu {
    display: none;
  }
  /* main */

  .main_inner {
    width: 560px;
  }
  .from_to span:first-child {
    top: 0;
    left: 24px;
  }
  .from_to span:nth-child(2) {
    right: 27px;
  }
  .station {
    width: 260px;
    height: 160px;
  }
  .station_box {
    width: 260px;
  }
  .station_box .list:focus {
    width: 260px;
  }
  .date_time .month {
    padding: 20px;
    width: 260px;
  }
  .dropbox {
    width: 260px;
  }
  .dropbox .time {
    width: 260px;
  }
  /* passenger */
  .number-input {
    width: 520px;
    padding: 20px;
  }
  .number-input label {
    white-space: nowrap;
    padding: 1rem;
  }
  .number-input input {
    /* text-align: center; */
    width: 2em;
    height: 25px;
    margin-right: 12px;
  }
  .number-input button {
    width: 1.5rem;
    height: 25px;
  }
  .load_timeTable {
    width: 300px;
  }
  /* quick menu */
  .quick_menu {
    width: 560px;
  }
  .quick_menu_list {
    gap: 30px;
    padding: 20px 0 25px 0;
  }
  /* notice */
  section .section_top,
  .section_bt {
    width: 560px;
  }
  section .section_top {
    flex-direction: column;
    gap: 3rem;
    border: 0;
    padding: 0;
  }
  .section_left {
    width: 560px;
    padding: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }
  .section_right {
    width: 560px;
    padding: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }
  .section_right::after {
    top: 50px;
    left: 1rem;
    width: 95%;
  }
  .section_right ul li a {
    max-width: 300px;
  }
  .noti_date {
    display: block;
  }
  /* best travel pkg */
  .best_travel {
    width: 560px;
    gap: 30px;
  }
  .best_travel_imgslide .swiper {
    height: 330px;
  }
}
@media all and (max-width: 710px) {
  .ft_link li:not(:last-child):after {
    margin-left: 2px;
    white-space: inherit;
  }
}
@media all and (max-width: 360px) {
  header {
    height: inherit;
  }
  .header_inner {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .logo {
    padding-left: 28%;
    width: 50%;
  }
  .logo img {
    width: 100%;
  }
  .topmenu .mobile_menu {
    display: block;
    font-size: 1.8rem;
  }
  .mobile_menu a:first-child {
    padding-right: 1rem;
  }
  #top_menu {
    display: none;
  }
  /* main */

  .main_inner {
    width: 340px;
  }
  .from_to span:first-child {
    top: 0;
    left: 24px;
  }
  .from_to span:nth-child(2) {
    right: 27px;
  }
  .station {
    width: 260px;
    height: 160px;
  }
  .station_box {
    width: 260px;
  }
  .station_box .list:focus {
    width: 260px;
  }
  .date_time .month {
    padding: 20px;
    width: 260px;
  }
  .dropbox {
    width: 260px;
  }
  .dropbox .time {
    width: 260px;
  }
  /* passenger */
  .number-input {
    width: 520px;
    padding: 20px;
  }
  .number-input label {
    white-space: nowrap;
    padding: 1rem;
  }
  .number-input input {
    /* text-align: center; */
    width: 2em;
    height: 25px;
    margin-right: 12px;
  }
  .number-input button {
    width: 1.5rem;
    height: 25px;
  }
  .load_timeTable {
    width: 300px;
  }
  /* quick menu */
  .quick_menu {
    width: 560px;
  }
  .quick_menu_list {
    gap: 30px;
    padding: 20px 0 25px 0;
  }
  /* notice */
  section {
    display: none;
  }
  .mobile-notice {
    display: block;
    position: absolute;
    top: 34%;
    left: 1rem;
    display: flex;
    gap: 2rem;
  }
  .mobile-notice span {
    font-weight: 700;
  }
  .mobile-notice span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21%;
    display: block;
    width: 2px;
    height: 13px;
    background-color: #5a2149;
  }
  /* best travel pkg */
  .best_travel {
    width: 560px;
    gap: 30px;
  }
  .best_travel_imgslide .swiper {
    height: 330px;
  }
}
